{% extends 'tasks/base.html' %}

{% block title %}親ホーム{% endblock %}

{% block content %}
    <h1>HOME</h1><br>

    <p>{{ family_name }}のタスク</p>
    <p>ファミリーコード：{{ family_code }}</p>

    <div class="card mb-3 shadow-sm mx-auto text-center"
     style="max-width: 100px; cursor: pointer;"
     onclick="document.getElementById('progressModal').style.display='block'">
    <div class="card-body">
        進捗🏃‍♀️
    </div>
</div><br>
    <ul class="list-unstyled">
    {% for task in tasks %}
    {% if task.status != 'in_progress' %}
    <li class="mb-2 text-center">
        {{ task.title }}
        {{ task.get_priority_display }}<br>
        {{ task.due_date|date:"m/d H:i" }}<br>
        {{ task.get_status_display }}<br>
        <a href="{% url 'task_edit' task.id %}" class="btn btn-sm btn-outline-secondary">
         編集
        </a><br>

    {% endif %}
    {% endfor %}
    <br>
<a href="{% url 'task_create' %}" class="text-decoration-none text-dark">
    <div class="card mb-3 shadow-sm">
        <div class="card-body text-center">
            ➕追加
        </div>
    </div>
</a>

<a href="{% url 'past_tasks' %}" class="text-decoration-none text-dark">
    <div class="card mb-3 shadow-sm">
        <div class="card-body text-center">
            過去データ📊
        </div>
    </div>
</a>
    </ul>


    <div id="progressModal" style="display:none; background:#000000aa; position:fixed; top:0; left:0; width:100%; height:100%;">
        <div style="background:white; margin:100px auto; padding:20px; width:50%;">
            <h2>進捗</h2>

          <ul>
                {% for task in tasks %}
                {% if task.status == 'in_progress' %}
                <li>
                     {{ task.title }}
                     {{ task.get_status_display }}
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <a onclick="document.getElementById('progressModal').style.display='none'"></a>
        </div>
    </div>
{% endblock %}   