{% extends 'tasks/base.html' %}

{% block title %}過去タスク一覧{% endblock %}
{% block content %}
    <h1 class="text-center">過去タスク一覧</h1>

    <ul class="text-center list-unstyled">
        {% for task in tasks %}
        <li>
            {{ task.title }} - {{ task.get_priority_display }} - {{ task.due_date }}
        </li>
        {% endfor %}
    </ul>

    <div class="text-center mt-3">
        <a href="{% url 'home' %}" class="btn btn-outline-secondary">
          戻る
        </a>
    </div>

{% endblock %}