{% extends 'tasks/base.html' %}
{% block title %}新規登録{% endblock %}

{% block content %}
<div class="container" style="max-width: 800px;">

    <h2 class="text-center mb-4">新規登録</h2>

    {% if error %}
    <div class="alert alert-danger text-center">
        {{ error }}
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">ユーザー名</label>
            <input type="text" name="username" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">パスワード</label>
            <input type="password" name="password" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">パスワード確認</label>
            <input type="password" name="password_confirm" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">あなたは？</label>
            <select name="role" class="form-select">
                <option value="mama">ママ</option>
                <option value="papa">パパ</option>
                <option value="child">子ども</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">家族の第一登録者（保護者）が ファミリー名を決めてください</label>
            <input type="text" name="family_name" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">家族の第一登録者以外はホーム画面記載のファミリーコードを入力してください</label>
            <input type="text" name="family_code" class="form-control">
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary w-100">
                登録
            </button>

            <a href="{% url 'welcome' %}" class="btn btn-outline-secondary w-100 mt-2">
                戻る
            </a>
        </div>

    </form>
</div>
{% endblock %}