<h1>タスク編集</h1>

<form method="POST">
    {% csrf_token %}

    <label>タイトル</label>
    <input type="text" name="title" value="{{ task.title }}">

    <label>優先度</label>
    <select name="priority">
        <option value="high" {% if task.priority == 'high' %}selected{% endif %}>★★★</option>
        <option value="medium" {% if task.priority == 'medium' %}selected{% endif %}>★★</option>
        <option value="low" {% if task.priority == 'low' %}selected{% endif %}>★</option>
    </select>
    
    <label>期限</label>
    <input type="datetime-local" name="due_date" value="{{ task.due_date|date:'Y-m-d\TH:i' }}">
    
    <label>ステータス</label>
    <select name="status">
        <option value="todo" {% if task.status == 'todo' %}selected{% endif %}>まだだよ</option>
        <option value="in_progress" {% if task.status == 'in_progress' %}selected{% endif %}>やってるよ</option>
        <option value="done" {% if task.status == 'done' %}selected{% endif %}>できたよ</option>
    </select>
    
    <button type="submit">更新</button>
</form>

    <form method="POST" action="{% url 'task_delete' task.id %}">
    {% csrf_token %}
    <button type="submit">削除</button>

</form>