{% extends 'tasks/base.html' %}
{% block title %}タスク追加{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}

    <label>タイトル</label>
    <input type="text" name="title">

    <label>優先度</label>
    <select name="priority">
        <option value="high">★★★</option>
        <option value="medium">★★</option>
        <option value="low">★</option>
    </select>

    <label>期限</label>
    <input type="datetime-local" name="due_date" value="{{ task.due_date }}">
    
    <button type="submit">追加</button>

</form>   
{% endblock %}