<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
     <title>タスク一覧</title>
</head>
<body>
    
 <h1>タスクリスト</h1>

 <a href="{% url 'task_create' %}">追加</a>

 <ul>
      {% for task in tasks %}
      <li>
          {{ task.title }}
          {{ task.get_priority_display }}<br>
          {{ task.due_date|date:"m/d H:i" }}まで<br>
          {% if child_count >= 2 %}
              {{ task.completed_by.username }}<br>
          {% endif %}
          {{ task.get_status_display  }}<br>
          <a href="{% url 'task_edit' task.id %}">編集</a>
          <a href="{% url 'task_delete' task.id %}">削除</a><br>
          
     </li>
    
     <br>
      {% endfor %}
</ul>
<a href="{% url 'home' %}">戻る</a> 

</body>
</html>